<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Alumno</title>
</head>
<body>
    <main>
        <div style="text-align: center;">
            <h1>INFORMACIÓN DE ALUMNO</h1>
        </div>
        <div>
            <ul>
                <li><strong>Apellido: {{last_name}}</strong></li>
                <li><strong>Nombre: {{name}}</strong></li>
                <li><strong>Cuil: {{cuil}}</strong></li>
                <li><strong>Legajo: {{file}}</strong></li>
                <li><strong>Carrera: {{career}}</strong></li>
                <li><strong>Facultad: {{faculty}}</strong></li>
                <li><strong>Universidad: {{university}}</strong></li>
                <li><strong>Ciudad: {{city}}</strong></li>
            </ul>
        </div>
    </main>
</body>
</html>